law_dataset/data
law_dataset/logs
law_dataset/.env
law_dataset/.streamlit
law_dataset/src/.scrapy
law_dataset/artifacts/
# Bỏ qua file .DS_Store (nếu có)
.DS_Store
.venv/
__pycache__/
.vscode/
.scrapy
CLAUDE.md
